header.site-header {
  padding: 10px 0;
}

img.ac-avatar {
    height: 24px;
    width: 24px;
}

img.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

img {
    vertical-align: middle;
    border: 0;
}
