.Select-arrow {
  border: solid $dusty-gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}

.is-open > .Select-control .Select-arrow {
  border: solid $dusty-gray;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.Select--multi .Select-value {
  color: $rolling-stone;
  background-color: $athens-gray;
  border: 1px solid $alto;
}

.Select--multi .Select-value-icon {
  border-right: 1px solid $alto;
}

.Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
  background-color: $athens-gray;
  color: $rolling-stone;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: $cornflower-blue;
  box-shadow: $shadow;
  outline: 0;
}

.Select {
  width: 100%;
  min-height: 46px;
}

.Select-control {
  min-height: 46px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 40px;
}

.Select--multi .Select-value {
  margin-top: 8px;
}

.Select--multi .Select-value-label {
  padding: 4px 5px;
}

.required span {
    vertical-align:sub;
}

.Select-input {
  display: inline-flex !important;
  height: 100%;
}

.Select-input > input {
  align-items: stretch;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  padding-left: 16px;
}
