$shuttle-gray: #5c666f;
$iron: #D0D2D3;
$picton-blue: #44C7F4;
$persian-green: #01B48F;
$golden-dream: #EACA2C;
$flamingo: #EB5424;
$white: #fff;
$mine-shaft: #333333;
$zumthor: #EBF5FF;
$athens-gray: #F5F7F9;
$alto: #DDDDDD;
$dusty-gray: #999999;
$rolling-stone: #7E7F80;
$pomegranate: #f04134;
$silver: #ccc;
$nobel: #b3b3b3;

$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);

// Breakpoints
$screen-xlg-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 576px;
