$shuttle-gray: #5c666f;
$iron: #D0D2D3;
$picton-blue: #44C7F4;
$persian-green: #01B48F;
$golden-dream: #EACA2C;
$flamingo: #EB5424;
$white: #fff;
$mine-shaft: #333333;
$zumthor: #EBF5FF;
$athens-gray: #F5F7F9;
$alto: #DDDDDD;
$dusty-gray: #999999;
$rolling-stone: #7E7F80;
$pomegranate: #f04134;
$silver: #ccc;
$nobel: #b3b3b3;

// Breakpoints
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 798px;

// Media queries
$large: min-width $screen-lg-min;
$medium: min-width $screen-md-min;
$small: min-width $screen-sm-min;
